/*
    Styles related t the InfoBox.hs plugin.

    You can find the newest version of this file always at: https://github.com/lenzls/gitit-plugins

    Please import in your cutom.css like this:
        @import url("infobox.css");
*/
.info-box table {
    margin-left: auto;
    margin-right: auto;
}

.info-box table .heading {
    text-align: center;
}

.info-box {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    float: right;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    max-width: 25em;
}

.info-box h2 {
    text-align: center;
    padding: 0.2em 0;
    margin: 0;
    font-weight: bold;
}

.info-box img {
    width: 100%;
}

.info-box figure {
    margin: 1em 1em;
}

.info-box figcaption {
    text-align: center;
}
